@using AdverticementManager.ViewModels
@model AdverticementManager.ViewModels.VkProfileViewModel
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div id="table"></div>
        </div>
        <div class="col-sm">
            @Html.Partial("_AdProfileDisplaySettings", new VkAdProfileDisplaySettingsViewModel())
        </div>
    </div>
</div>

</div>